{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
      ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }],
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
      "production": {
        "plugins": [
          "transform-react-inline-elements",
          "transform-react-constant-elements",
          "transform-react-remove-prop-types"
        ]
      }
    }
}
